<div class="jumbotron jumbotron-fluid h-100 my-0 d-flex flex-column justify-content-center">
  <div class="container">
    <h1 class="display-3 text-white">Petster</h1>
    <p class="lead text-white">Less people, more animals</p>
    <a href="/login" class="btn btn-primary"><span class="fa fa-sign-in"></span> Login</a>
    <a href="/signup" class="btn btn-dark"><span class="fa fa-user"></span> Sign Up</a>
  </div>
</div>
