<div class="jumbotron">
  <h1>Petster</h1>
  <p class="lead">Less people, more animals</p>
  <a href="/login" class="btn btn-primary"><span class="fa fa-sign-in"></span> Login</a>
  <a href="/signup" class="btn btn-dark"><span class="fa fa-user"></span> Sign Up</a>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <p>This is some sample text lower in the body</p>
    </div>
  </div>
</div>
