<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/dist/main.bundle.css' />
  <script src="https://use.fontawesome.com/ad752cf01a.js"></script>
</head>

<body>
  {{{body}}}
  <script src="/dist/bundle.js"></script>
</body>

</html>
