{{> nav}}
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="well">
        <div id="profilePic">
          {{#each Photo}} 
            {{#unless this.isPet}}
              <img src={{this.img_url}} alt="" style="width:15vh;"> 
            {{/unless}}
          {{/each}}
        </div>
        <p><strong>Email:</strong> {{user.email}}</p>
        {{#if loggedIn}}
        <form action="/updateProfile" method="get">
          <button name="updateProfile" type="submit" class="btn btn-warning btn-sm">Edit Profile</button>
        </form>
        {{/if}}
        {{#if loggedIn}}
        <form action="/pets" method="get">
          <button name="pets" type="submit" class="btn btn-warning btn-sm">Add Pet</button>
        </form>
        {{/if}}
        {{#if loggedIn}}
        {{#if Pet.length}}
          <form action="/photos" method="get">
            <button name="photos" type="submit" class="btn btn-warning btn-sm">Upload Pet Photo</button>
          </form>
        {{/if}}
        {{/if}}
      </div>
    </div>
    <div class="col-6">
      {{#each Photo}} 
        {{#if this.isPet}}
          <img src={{this.img_url}} alt="" style="width:15vh;"> 
        {{/if}}
      {{/each}}
    </div>
  </div>
  <div class="row">
    {{#if loggedIn}}
    <div class="col-6">
      <div class="form-group">
        <form id="submitPost" action="/feed" method="post">
          <label for="body">Make New Post:</label>
          <textarea name="postBody" placeholder="Post Body" class="form-control" rows="6" id="body"></textarea> 
          <br />
          <button type="submit" name="button" value="submit" class="btn btn-warning submit btn-sm">Submit Post</button>
        </form>
      </div>
    </div>
    {{/if}}
    <div class="col-6">
      {{#each Pet}}
        <h1> {{this.pet_name}}</h1> 
      {{/each}}
    </div>
  </div>
</div>