{{> nav}}
<div class="container">
  <div class="row">

    {{!-- Sidebar --}} {{#if enableEdit}}
    <div class="col-md-3 d-flex flex-column align-items-center">
      <div class="hidden-sm-down">
        <img src="/images/1.jpg" alt="Profile photo" class="img-thumbnail">
      </div>
      <div class="card-text hidden-sm-down">
        {{user.first_name}} {{user.last_name}}
      </div>
      <hr>
      <div class="btn-group-vertical">
        <a class="btn btn-primary" href="/pets">Add new pet</a>
        <a class="btn btn-primary" href="/photos">Add photos</a>
      </div>
    </div>
    {{/if}}

    <div class="col-6">

      <div class="card mb-3 bg-light">
        <div class="card-block d-flex flex-column align-items-center">
          <h4 class="card-title mt-1">Pets</h4>
          <div class="d-flex justify-content-around align-items-start mb-3">
            {{#each Pet}}
            <div class="card" style="width:33%">
              {{!-- if pet photo --}}
              <img src="/images/1.jpg" alt="" class="card-img-top">
              <h5 class="card-title text-center mt-1">{{this.pet_name}}</h5>
            </div>
            {{/each}}
          </div>
        </div>
      </div>

      <div class="card mb-3 bg-light">
        <div class="card-block d-flex flex-column align-items-center">
          <h4 class="card-title mt-1">Photos</h4>
          <div class="d-flex justify-content-around align-items-start mb-3">

            {{#each Photo}}
            <div class="card" style="width:33%">
              {{!-- if pet photo --}}
              <img src="{{this.img_url}}" alt="photo" class="card-img">
            </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
